* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    height: 100vh;
    grid-template: 1fr 3fr 2fr / 1fr 1fr 1fr 1fr;
}

header {
    background: #103F79;
    color: #F3B229;
    padding: 2rem;
    grid-column: 1 / 5;
}

main {
    background: #F3B229;
    color: #103F79;
    padding: 2rem;
    grid-column: 1 / 4;
}

aside {
    padding: 2rem;
    grid-column: 4 / 5;
}

footer {
    background: #103F79;
    color: #F3B229;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 5;
}

.navigation {
	display: flex;
	background-color: #333;
	align-items: center;
}

.navigation a {
    display: block;
	color: #eee;
	padding: 0.75rem;
	text-decoration: none;
	text-align: center;
    flex: 1 1 auto;
}