@media only screen and (min-width: 900px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #133b5b;
        margin-bottom: 1.5rem;
        padding: 1.7rem 0;
    }

	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}

}