@media (min-width: 1080px) {

	header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	nav {
		display: flex;
	}

	.navigation {
		flex-direction: row;
	}

	.navigation a {
		display: block;
		flex: 1 1 100%;
	}

	#menu {
		display: none;
	}
}